@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
  color: brown;
  text-align: center;
  margin-top: 0px;
}

#boards img {
  display: block;
  height: 175px;
}
